<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="Url" value="861317.13357.20la.com.cn" />
    <add key="License" value="" />
    <add key="DbType" value="0" />
    <add key="SqlConnection" value="Provider=SQLOLEDB;Data Source=127.0.0.1;Initial Catalog=sq_data;User ID=sa;Password=123456" />
    <add key="AccessConnection" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=/e/database/v3.mdb" />
    <add key="ManageDirectory" value="/e/master/" />
  </appSettings>
  <system.web>
    <httpModules>
    </httpModules>
    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" />
    <compilation defaultLanguage="C#" debug="false" />
    <authentication mode="Forms" />
    <customErrors mode="Off">
      <error statusCode="404" redirect="/error404.html" />
    </customErrors>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <httpRuntime maxRequestLength="1024000" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="index.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>