	.youer {
				width: 150px;
				height: 100px;
				float:left;
			}
			
			.youer .tit {
				height: 30px;
				text-align:  center;
			}
			
			.youer .tit a {
				width: 50px;
				height: 20px;
				display: inline-block;
				margin: 5px 10px 0 0;
			}
			
			.youer .con {
				width: 1500px;
				height: 1000px;
				padding-left: 7px;
				float:left;
	}